.graphiql {
  width: 100%;
  min-height: calc(100vh - 140px);
  display: flex;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);

  &_editor {
    display: flex;
    flex-direction: column;
    width: 50%;

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
      background-color: white;


      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: rgb(43, 171, 124);
        border: none;
        border-radius: 8px;
        cursor: pointer;
      }
    }

    &__field {
      height: calc(100% - 120px);
      display: flex;
      flex-direction: column;
      background-color: white;

    }

    &__tools {
      display: flex;
      flex-direction: column;

      &::before {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
      }

      button {
        background-color: white;
      }

      &__tabs {
        display: flex;
        align-self: center;
        gap: 10px;

        button {
          width: 100%;
          padding: 5px;
          background-color: white;
          color: rgba(0, 0, 0, 0.6);

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        .selected {
          color:rgba(0, 0, 0, 1)
        }
      }

      &__field {
        height: 0;
        opacity: 0;

        &_active {
          height: 150px;
          opacity: 1;
          background-color:rgb(43, 171, 124);
        }
      }
    }
  }

  &_response {
    width: 50%;

    &__header {
      height: 40px;
      padding: 10px 30px;
    }

    &__field {
      height: calc(100% - 40px);
      padding: 20px 0 0 30px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 15px;
        background-color: rgba(0, 0, 0, 0);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.25);
        color: #89A99D
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

  }
}
