.graphiql {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.graphiql_editor {
  width: 50%;
}

.graphiql_editor__header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 10px 30px;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

.graphiql_editor__field {
  height: calc(100% - 40px);
  padding-top: 15px;
  background-color: white;
}

.graphiql_response {
  width: 50%;
}

.graphiql_response__header {
  height: 40px;
  padding: 10px 30px;
}
