.footer {  
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  width: 100%;
  padding: 5px;
  height: 70px;
  background-color: #d4d0d0;
}

.github-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo {
  width: 150px;
}